<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>芬棻音樂工作坊</title>
    <link
      href="/static/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row nav text-start fs-1 lh-lg fw-bold">
        <h1 class="col-7 mt-2">芬棻音樂工作坊</h1>
        <a class="col-2 nav-link active fs-3" aria-current="page" href="/login"
          >Login</a
        >
        <a class="col-2 nav-link fs-3" href="/register">Register</a>
      </div>
      <img class="img-fluid rounded" id="Annie" src="/static/violin.jpg" />
      <h2 class="text-start mt-4 mb-2 fs-3 lh-lg fw-semibold fw-normal">
        關於我們的故事
      </h2>
      <p class="col-10 font-monospace text-start text-wrap fw-bolder">
        歡迎來到我們的古典音樂工作室，我們致力於為各年齡層和技能水準的學生提供高品質的音樂教育和表演機會。我們的工作室由經驗豐富的導師帶領，他們熱愛古典音樂，致力於幫助每一位學生發揮他們的潛力。無論您是初學者還是想要精進技巧，我們都提供各種課程和班級，幫助您實現音樂夢想。我們的課程包括私人課程、團體課程、工作坊和表演機會，旨在培養對古典音樂的深刻欣賞和理解。我們相信音樂教育應該是全方位的，不僅包括技巧和理論，還包括創造力、表達和對藝術形式的熱愛的發展。我們的設施配備了最先進的設備，提供一個溫馨和鼓舞人心的環境來學習和練習。我們提供各種樂器，包括鋼琴、弦樂、管樂和打擊樂器，我們的表演場地設計旨在展示古典音樂的美麗和豐富性。我們很自豪能成為充滿活力的古典音樂社區的一部分，並致力於與學生和觀眾分享我們對這種永恆藝術形式的熱愛和知識。感謝您考慮選擇我們的工作室來滿足您的音樂教育需求。我們期待與您合作，幫助您發現古典音樂的樂趣。
      </p>
      <h2 class="text-center mt-4 mb-2 fs-3 lh-lg fw-semibold fw-normal">
        我們最近的活動
      </h2>
      <div class="container">
        <div class="row text-center mb-3 fs-4 fw-bold">
          <div class="col-4">演出地點</div>
          <div class="col-2">日期</div>
          <div class="col-2">時間</div>
        </div>
        <div>
          {% for concert in concerts %} {% include 'concertlist.html' %}
          {%endfor%}
        </div>
      </div>
    </div>
  </body>
</html>
