<!-- build a under construction page -->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>芬棻音樂工作坊 - 會員註冊</title>
        <link
          href="/static/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css"
          rel="stylesheet"
        />
        <script src="https://accounts.google.com/gsi/client" async defer></script>
    </head>
    <body>
        <div class="row nav text-center fs-4 lh-lg fw-bold">
            <div class="col-2">
                <a href="https://concerts.onrender.com">首頁</a>
            </div>
            <div class="col-2">
                <a href="https://concerts.onrender.com/login">登入</a>
            </div>
            <div class="col-2">
                <a href="https://concerts.onrender.com/register">註冊</a>
            </div>
            <div class="col-2">
                <a href="https://concerts.onrender.com/forget">忘記密碼</a>
            </div>
            <div class="col-2">
                <a href="https://concerts.onrender.com/privacy">隱私權政策</a>
            </div>
            <div class="col-2">
                <a href="https://concerts.onrender.com/terms">服務條款</a>
            </div>
        <h1>
            會員註冊頁面正在建置中，請稍後再來訪問。
        </h1>
        </div>
        <div id="g_id_onload"
            data-client_id="11140612231-11es4pi1nuuha69crdg582embvj4hqi0.apps.googleusercontent.com"
            data-context="signup"
            data-ux_mode="popup"
            data-login_uri="https://concerts.onrender.com"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin col-4"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="signup_with"
            data-size="large"
            data-locale="en-US"
            data-logo_alignment="center">
        </div>

    </body>
</html>